:root{
  --color-green: #528265;
  --color-gray: #384552;
  --color-white: #fff;
  --color-light-gray:#c9d3dd;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: minhaFonte;
}

@font-face {
  font-family: 'minhaFonte';
  src: url('../fonts/open-sasn/OpenSans-Regular.ttf');
}


.alinhamento{
  padding-top: 1.7rem;
  padding-left: 2.7rem;
  padding-right: 1.7rem;
}

.hr-green {
  border: 0.5rem solid var(--color-green);
  padding: 0;
  margin-top: 0.5rem;
}
.hr-gray {
  border: 0.3rem solid var(--color-light-gray);
  /* width: 100%; */
  padding: 0;
  /* margin-top: 0.5rem; */
}

/* header */

.header {
  padding-bottom: 1rem;
}

.logo img{
  height: 5rem;
  width: 20rem;
}

.btn-login {
  display: inline-flex;
  float: right;
  margin-top: 1.1rem;
  border: 0.3rem solid var(--color-green);
  border-radius: 3rem;
}

.btn-login h4 {
  margin: 5px;
}

.btn-entrar,
.btn-cadastrar {
  border: 0.3rem solid transparent;
  border-radius: 3rem;
  padding: 0 2rem;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
}

.active {
  border: 0.3rem solid var(--color-green);
  background-color: var(--color-green);
  color: var(--color-white);
}

/* conteudo */
.conteudo{
  display: flex;
  margin: 3rem;
  gap: 1.5rem;
  justify-content: space-around;
}

/* card esquerdo */
.card-esquerdo{
  width: 50%;
}

.card-esquerdo h1{
  font-size: 3rem;
  color: var(--color-green);
}

.card-esquerdo h5{
  color: var(--color-gray);
}

.btn-card{
  margin-top: 2rem;
}

#btn-comece{
  border: 0.3rem solid var(--color-green);
  border-radius: 4rem;
  background-color: var(--color-green);
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

#btn-comece:hover{
  background-color: var(--color-white);
  color: var(--color-green);
  transition: 0.3s;
}

#btn-saiba{
  border: 0.3rem solid var(--color-green);
  border-radius: 3rem;
  color: var(--color-green);
  font-weight: 700;
  font-size: 1.1rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

#btn-saiba:hover{
  background-color: var(--color-green);
  color: var(--color-white);
  transition: 0.3s;
}

/* card direito */

.card-direito img{
  height: 30rem;
  width: 37rem;
  border-radius: 3rem;
}

/* conteúdo 2 */


.conteudo-02 {
  background-color: var(--color-green);
  padding: 5rem;
}

.content-info p {
  color: var(--color-white);
  font-size: 1.4rem;
}

/* Conteúdo 3 */

.conteudo-03{
  padding: 3rem;
}

.conteudo-03 h3{
  color: var(--color-gray);
  text-align: center;
}

/* card de membros da equipe */

.card-equipe{
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.membro{
  text-align: center;
}

.membro img{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  
}

.membro p{
  color: var(--color-gray);
  font-size: 1.4rem;
  text-align: center;
  /* padding: 1rem; */
}

/* botão sobre nós */

.sobre-nos{
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.btn-sobre{
  border: 0.3rem solid var(--color-green);
  border-radius: 4rem;
  background-color: var(--color-green);
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.btn-sobre:hover{
  background-color: var(--color-white);
  color: var(--color-green);
  transition: 0.3s;
}

.footer{
  text-align: center;
  padding: 1.2rem;
  background-color: var(--color-green);
}
.footer h5{
  color: var(--color-white);
}

.footer p{
  color: var(--color-light-gray);
}