*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: minhaFonte;
}


:root{
  --color-green: #528265;
  --color-gray: #4c5b6b;
  --color-white: #fff;
}

@font-face {
  font-family: 'minhaFonte';
  src: url('../fonts/open-sasn/OpenSans-Regular.ttf');
}


.alinhamento{
  padding-top: 1.7rem;
  padding-left: 2.7rem;
  padding-right: 1.7rem;
}

.hr-green {
  border: 0.5rem solid var(--color-green);
  width: 100%;
  padding: 0;
  margin-top: 0.5rem;
}
.hr-gray {
  border: 0.5rem solid var(--color-gray);
  width: 100%;
  padding: 0;
  margin-top: 0.5rem;
}

/* header */

.btn-login {
  display: inline-flex;
  float: right;
  border: 0.3rem solid var(--color-green);
  border-radius: 3rem;
  margin-top: 1.1rem;
}

.btn-login h4{
  margin: 5px;
}

.btn-entrar {
  padding: 0.3em 2em;
  color: var(--color-green);
}

.btn-cadastrar {
  border-radius: 3rem;
  padding: 0.3em 2em;
  background-color: var(--color-green);
  color: var(--color-white);
  padding-right: 2rem;
  padding-left: 2rem;
}

.btn-entrar:hover {
  /* border: 0.3rem solid var(--color-green); */
  border-radius: 3rem;
  background-color: var(--color-green);
  color: var(--color-white);
  padding-right: 2rem;
  padding-left: 2rem;
  /* margin: 0; */
}

.btn-entrar:hover + .btn-cadastrar {
  /* Define os estilos que substituirão os estilos de .btn-cadastrar quando .btn-entrar estiver em :hover */
  border: none;
  background-color: transparent;
  color: var(--color-green);
  /* padding: 0; */
}

/* conteudo */
.conteudo{
  display: flex;
  margin: 3rem;

  justify-content: space-around;
}

/* card esquerdo */
.card-esquerdo{
  width: 51%;
}

.card-esquerdo h1{
  font-size: 3.7rem;
  color: var(--color-green);
}

.card-esquerdo h4{
  color: var(--color-gray);
}

.btn-card{
  margin-top: 2rem;
}

#btn-comece{
  border: 0.3rem solid var(--color-green);
  border-radius: 4rem;
  background-color: var(--color-green);
  color: var(--color-white);
  font-weight: 700;
  font-size: 1.1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

#btn-comece:hover{
  background-color: var(--color-white);
  color: var(--color-green);
  transition: 0.3s;
}

#btn-saiba{
  border: 0.3rem solid var(--color-green);
  border-radius: 3rem;
  color: var(--color-green);
  font-weight: 700;
  font-size: 1.1rem;
  padding-right: 3rem;
  padding-left: 3rem;
}

#btn-saiba:hover{
  background-color: var(--color-green);
  color: var(--color-white);
  transition: 0.3s;
}

/* card direito */
.card-direito{

}

.card-direito img{
  height: 30rem;
  width: 37rem;
  border-radius: 3rem;
}

