.container {
  padding: 2.5rem 0 2.5rem 0;
}

.linha {
  gap: 2px;
}

.ajuste-margem {
  margin-right: -12px;
}

.centralizar {
  padding: 20px;
}

.btn-tamanho {
  width: 10rem;
}

.buttons-tabelas {
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.Produto {
  text-decoration: none;
  color: black;
}
