.container {
  padding: 2.5rem 0 2.5rem 0;
}

.linha {
  gap: 2px;
}

.ajuste-margem {
  margin-right: -12px;
}

.centralizar {
  padding: 20px;
}

.btn-tamanho {
  width: 10rem;
}

.buttons-tabelas {
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.Produto {
  text-decoration: none;
  color: black;
}

.imgPerfilTabela{
  width: 9rem;
  height: 9rem;
  border-radius: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.img-perfil img{
  margin-top: 2.1rem;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
  border: var(--color-green) 3px solid;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.img-perfil{
  display: flex;
  flex-direction: column;
  padding-right: 2.7rem;
  margin-left: 1.5rem;
  max-width: 20%;
  
}